@import "variables";

body {
    margin: 0;
}

li, ul {
    list-style-type: none;
}

.navbar {
    min-height: 3em;
    background-color: $dark-green;
    box-shadow: 0 5px $light-green;
    display: inline-block;
    width: 100%;

    .navbar-header,
    .nav-menu {
        display: inline-block;
        padding: 1em 0.5em;
        margin-left: 1.5em;

            a {
                color: white;
                text-decoration: none;
                font-size: 1.5em;
                text-shadow: 0.5px 0.5px whitesmoke;
            }
    }

    .nav-menu {
        float: right;
        margin: 0 1.5em;
    }
}

.page-wrapper.about {
    .right-container {
      width: 72%;

    .flip-card {
      background-color: transparent;
      height: 10%;
      width: 90%;
      perspective: 1000px;
      margin: 3% 0;
    }

    .flip-card-inner {
      position: relative;
      width: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      background: transparent;
    }

    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      padding: 1%;
    }

    .flip-card-front {
      background-color: $light-green;
      color: white;
    }

    .flip-card-back {
      background-color: $dark-green;
      color: white;
      transform: rotateY(180deg);
    }
    }

    .left-container {
        margin-left: 2%;

      .left-wrapper {
        background: $light-mint;
        border-radius: 10px;
        padding: 5%;
      }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page-wrapper.about {
    .right-container {
      width: 67%;

      .flip-card {
        width: 95%;
        margin: 3%;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 640px) {
    .page-wrapper.about {
      .right-container {
        width: 100%;

        .flip-card {
          width: 95%;
          height: 15%;
          margin: 16% 2.5%;
        }
      }
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .page-wrapper.about {
      .right-container {
        width: 100%;

        .flip-card {
          width: 95%;
          margin: 8% 0;
        }
      }

    .left-container {
      margin-top: 5%;
      margin-left: 5%;
      width: 92%;
    }
    }
}