@import "variables";

textarea {
  resize: none;
}


::-webkit-scrollbar {
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.page-wrapper {
  display: inline-block;
  width: 100%;

  .tables {
    .arrow {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-top: 2px solid $dark-grey;
      border-right: 2px solid $dark-grey;
    }

    .arrow-bottom {
        transform: rotate(135deg);
      }

    .arrow-top {
      transform: rotate(-45deg);
    }
  }

  .left-container {
    width: 25%;
    color: $dark-grey;
    display: inline-block;
    vertical-align: top;
    margin-top: 10%;

    i {
      color: $dark-grey;
    }

    .table {
      font-size: 1.2em;
      margin-top: 0.3em;
    }

    .table-name {
      font-weight: bold;
      margin-left: 1em;
    }

    .columns {
      display: none;
      font-size: 0.8em;

      .column {
        width: 80%;

        .column-name,
        .column-type {
          display: inline-block;
          width: 50%;
        }

        .column-name {
          font-weight: bold;
        }

        .column-type {
          text-transform: uppercase;
          float: right;
        }
      }
    }
  }

  .right-container {
    display: inline-block;
    vertical-align: top;
    width: 74%;

    #treeShow {
        width: 90%;
        background: $light-green;
        color: white;
        border-radius: 10px;
        margin-top: 2em;
        padding: 1em;

      .row-parse-tree {
        overflow-x: auto;
        white-space: pre;
      }
    }

    .response-message {
      width: 50%;

      &#errorContainer,
      &#noOfTuples {
        margin-top: -0.5em;
        padding: 0.5em;
        background: $warning-red;
        color: white;
        border-radius: 10px;
        display: none;
        font-size: 0.85em;

        #showParseTree {
          width: 45%;
          display: inline-block;
          float: right;
          text-align: right;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      &#noOfTuples {
        background: $light-green;
      }
    }

    .right-wrapper {
       margin: 8% 0 0 6%;
    }

    .calculator-frame {
      min-height: 10em;
      border: 1px solid $light-grey;
      width: 75%;
      padding: 0.5em;
      box-shadow: 3px 3px $light-green;

      &:focus, &:active {
        outline: none;
      }
    }

    .buttons-sections {
      width: 75%;
      padding: 1% 0;

      .button-text {
        font-weight: bold;

        .tooltiptext {
            visibility: hidden;
            opacity: 0.6;
            width: 120px;
            background-color: $light-grey;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            top: 19%;
            margin-left: -60px;

          &:after {
              content: " ";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: $light-grey transparent transparent transparent;
          }
        }
      }

      .operator-button {
        background-color: $light-mint;
        color: $dark-grey ;
        border: none;
        height: 3em;
        width: 4em;
        margin-top: 0.5em;
        cursor: pointer;
        border-radius: 10px;
        padding: 0;

        &:hover {
          .tooltiptext {
              visibility: visible;
          }
        }

        &:hover, &:visited, &:focus {
          outline: none;
          background-color: $dark-green;
          color: white;
        }
      }
    }

    .button-execute {
      border: none;
      padding: 1em 1.5em;
      background-color: $dark-green;
      color: white;
      float: right;
      border-radius: 10px;
      margin-top: 1em;
      margin-bottom: 1em;
      cursor: pointer;

      &:focus, &:active {
        outline: none;
      }

      &:hover {
        background: $light-green;
      }
    }
  }

  .results-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 2em auto;

    .results-row,
    .results-header {
      font-size: 0.8em;
      color: $dark-grey;

      .results-data {
        text-align: center;
      }
    }

    td, th {
      border: 1px solid $light-green;
      padding: 8px;
      color: $dark-grey
    }

    tr:nth-child(even) {
      background-color: $light-mint;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .page-wrapper {
    .right-container {
      .right-wrapper {
        margin: 8% 0 0 0;
      }

      .calculator-frame,
      .buttons-sections {
        width: 90%;

        .operator-button {
          margin-top: 0.5em;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
.page-wrapper {
  .left-container {
    margin-top: 20%;

    .columns {
      padding: 0 0.7em;

      .column {
        .column-name,
        .column-type {
          display: inline-block;
          width: 100%;
        }

        .column-type {
          float: left;
        }
      }
    }
  }

  .right-container {
    .response-message {
      display: none;
    }

    .calculator-frame {
      width: 90%;
    }

    .buttons-sections {
      width: 90%;

      .operator-button {
        margin-top: 0.5em;
      }
    }
  }
}

  .navbar {
    min-height: 1em;

    .navbar-header {
      padding: 0;
    }

    .nav-menu {
      padding: 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    .navbar-header {
      padding: 0.5em;
      margin-left: 0;
    }

    .nav-menu {
      margin: 0;
      float: left;
      padding: 0.5em;
    }
  }

  .page-wrapper {
    .left-container {
      width: 100%;
    }

    .right-container {
      width: 100%;

      .right-wrapper {
        margin: 8% 0 0 2%;

        .buttons-sections {
          width: 100%;

          .operator-button {
            margin-top: 0.2em;
          }
        }

        .calculator-frame {
          width: 90%;
        }

        .button-execute {
          margin-right: 1em;
          margin-bottom: 1em;
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 1250px){
  .page-wrapper {
    .left-container {
      width: 30%;

      .tables {
        padding: 0.5em;
      }

      .columns {
        padding: 0.2em;
      }
    }

    .right-container {
      width: 69%;
    }
  }
}