textarea {
  resize: none; }

::-webkit-scrollbar {
  height: 3px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #888; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

.page-wrapper {
  display: inline-block;
  width: 100%; }
  .page-wrapper .tables .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #373E40;
    border-right: 2px solid #373E40; }
  .page-wrapper .tables .arrow-bottom {
    transform: rotate(135deg); }
  .page-wrapper .tables .arrow-top {
    transform: rotate(-45deg); }
  .page-wrapper .left-container {
    width: 25%;
    color: #373E40;
    display: inline-block;
    vertical-align: top;
    margin-top: 10%; }
    .page-wrapper .left-container i {
      color: #373E40; }
    .page-wrapper .left-container .table {
      font-size: 1.2em;
      margin-top: 0.3em; }
    .page-wrapper .left-container .table-name {
      font-weight: bold;
      margin-left: 1em; }
    .page-wrapper .left-container .columns {
      display: none;
      font-size: 0.8em; }
      .page-wrapper .left-container .columns .column {
        width: 80%; }
        .page-wrapper .left-container .columns .column .column-name,
        .page-wrapper .left-container .columns .column .column-type {
          display: inline-block;
          width: 50%; }
        .page-wrapper .left-container .columns .column .column-name {
          font-weight: bold; }
        .page-wrapper .left-container .columns .column .column-type {
          text-transform: uppercase;
          float: right; }
  .page-wrapper .right-container {
    display: inline-block;
    vertical-align: top;
    width: 74%; }
    .page-wrapper .right-container #treeShow {
      width: 90%;
      background: #488286;
      color: white;
      border-radius: 10px;
      margin-top: 2em;
      padding: 1em; }
      .page-wrapper .right-container #treeShow .row-parse-tree {
        overflow-x: auto;
        white-space: pre; }
    .page-wrapper .right-container .response-message {
      width: 50%; }
      .page-wrapper .right-container .response-message#errorContainer, .page-wrapper .right-container .response-message#noOfTuples {
        margin-top: -0.5em;
        padding: 0.5em;
        background: #B33A3A;
        color: white;
        border-radius: 10px;
        display: none;
        font-size: 0.85em; }
        .page-wrapper .right-container .response-message#errorContainer #showParseTree, .page-wrapper .right-container .response-message#noOfTuples #showParseTree {
          width: 45%;
          display: inline-block;
          float: right;
          text-align: right;
          text-decoration: underline;
          cursor: pointer; }
      .page-wrapper .right-container .response-message#noOfTuples {
        background: #488286; }
    .page-wrapper .right-container .right-wrapper {
      margin: 8% 0 0 6%; }
    .page-wrapper .right-container .calculator-frame {
      min-height: 10em;
      border: 1px solid #77878B;
      width: 75%;
      padding: 0.5em;
      box-shadow: 3px 3px #488286; }
      .page-wrapper .right-container .calculator-frame:focus, .page-wrapper .right-container .calculator-frame:active {
        outline: none; }
    .page-wrapper .right-container .buttons-sections {
      width: 75%;
      padding: 1% 0; }
      .page-wrapper .right-container .buttons-sections .button-text {
        font-weight: bold; }
        .page-wrapper .right-container .buttons-sections .button-text .tooltiptext {
          visibility: hidden;
          opacity: 0.6;
          width: 120px;
          background-color: #77878B;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          top: 19%;
          margin-left: -60px; }
          .page-wrapper .right-container .buttons-sections .button-text .tooltiptext:after {
            content: " ";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #77878B transparent transparent transparent; }
      .page-wrapper .right-container .buttons-sections .operator-button {
        background-color: #B7D5D4;
        color: #373E40;
        border: none;
        height: 3em;
        width: 4em;
        margin-top: 0.5em;
        cursor: pointer;
        border-radius: 10px;
        padding: 0; }
        .page-wrapper .right-container .buttons-sections .operator-button:hover .tooltiptext {
          visibility: visible; }
        .page-wrapper .right-container .buttons-sections .operator-button:hover, .page-wrapper .right-container .buttons-sections .operator-button:visited, .page-wrapper .right-container .buttons-sections .operator-button:focus {
          outline: none;
          background-color: #305252;
          color: white; }
    .page-wrapper .right-container .button-execute {
      border: none;
      padding: 1em 1.5em;
      background-color: #305252;
      color: white;
      float: right;
      border-radius: 10px;
      margin-top: 1em;
      margin-bottom: 1em;
      cursor: pointer; }
      .page-wrapper .right-container .button-execute:focus, .page-wrapper .right-container .button-execute:active {
        outline: none; }
      .page-wrapper .right-container .button-execute:hover {
        background: #488286; }
  .page-wrapper .results-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 2em auto; }
    .page-wrapper .results-table .results-row,
    .page-wrapper .results-table .results-header {
      font-size: 0.8em;
      color: #373E40; }
      .page-wrapper .results-table .results-row .results-data,
      .page-wrapper .results-table .results-header .results-data {
        text-align: center; }
    .page-wrapper .results-table td, .page-wrapper .results-table th {
      border: 1px solid #488286;
      padding: 8px;
      color: #373E40; }
    .page-wrapper .results-table tr:nth-child(even) {
      background-color: #B7D5D4; }

@media (min-width: 768px) and (max-width: 1024px) {
  .page-wrapper .right-container .right-wrapper {
    margin: 8% 0 0 0; }
  .page-wrapper .right-container .calculator-frame,
  .page-wrapper .right-container .buttons-sections {
    width: 90%; }
    .page-wrapper .right-container .calculator-frame .operator-button,
    .page-wrapper .right-container .buttons-sections .operator-button {
      margin-top: 0.5em; } }

@media (min-width: 481px) and (max-width: 767px) {
  .page-wrapper .left-container {
    margin-top: 20%; }
    .page-wrapper .left-container .columns {
      padding: 0 0.7em; }
      .page-wrapper .left-container .columns .column .column-name,
      .page-wrapper .left-container .columns .column .column-type {
        display: inline-block;
        width: 100%; }
      .page-wrapper .left-container .columns .column .column-type {
        float: left; }
  .page-wrapper .right-container .response-message {
    display: none; }
  .page-wrapper .right-container .calculator-frame {
    width: 90%; }
  .page-wrapper .right-container .buttons-sections {
    width: 90%; }
    .page-wrapper .right-container .buttons-sections .operator-button {
      margin-top: 0.5em; }
  .navbar {
    min-height: 1em; }
    .navbar .navbar-header {
      padding: 0; }
    .navbar .nav-menu {
      padding: 0; } }

@media (min-width: 320px) and (max-width: 480px) {
  .navbar .navbar-header {
    padding: 0.5em;
    margin-left: 0; }
  .navbar .nav-menu {
    margin: 0;
    float: left;
    padding: 0.5em; }
  .page-wrapper .left-container {
    width: 100%; }
  .page-wrapper .right-container {
    width: 100%; }
    .page-wrapper .right-container .right-wrapper {
      margin: 8% 0 0 2%; }
      .page-wrapper .right-container .right-wrapper .buttons-sections {
        width: 100%; }
        .page-wrapper .right-container .right-wrapper .buttons-sections .operator-button {
          margin-top: 0.2em; }
      .page-wrapper .right-container .right-wrapper .calculator-frame {
        width: 90%; }
      .page-wrapper .right-container .right-wrapper .button-execute {
        margin-right: 1em;
        margin-bottom: 1em; } }

@media (min-width: 500px) and (max-width: 1250px) {
  .page-wrapper .left-container {
    width: 30%; }
    .page-wrapper .left-container .tables {
      padding: 0.5em; }
    .page-wrapper .left-container .columns {
      padding: 0.2em; }
  .page-wrapper .right-container {
    width: 69%; } }

/*# sourceMappingURL=ratosql.css.map */