{% extends 'base.html' %}
{% load staticfiles %}
{% load sass_tags %}
{% block content %}
<script src="{% static './js/about.js' %}"></script>
<div class="page-wrapper about">
<div class="left-container">
    <div class="left-wrapper">
        Interpreter for Relational Algebra is a web application capable of transforming
        relational algebra queries into SQL statements and execute them over a database, returning
        results which will later be shown to the user. In the right of this paragraph, you can find a couple
        of example queries to get accustomed to this applications' syntax. When you hover over a card, the
        RA translation will appear.
    </div>
</div>
<div class="right-container">
    <div class="right-wrapper">
    </div>
</div>
</div>
{% endblock content%}

