{% load staticfiles %}
{% load static %}
{% load sass_tags %}
{% load fontawesome %}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% sass_src './style/about.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src './style/ratosql.scss' %}" rel="stylesheet" type="text/css" />
    <script src="{% static './js/jquery-3.4.1.min.js' %}"></script>
{#    {% fontawesome_stylesheet %}#}
    <title>Relational Algebra Executor</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-header">
            <a class="navbar-title" href="./ratosql.html">An Interpreter for Relational Algebra</a>
        </div>
        <ul class="nav-menu">
            <li class="nav-menu-item">
                <a href = "../about"> About </a>
                <a href="../ratosql"> | Calculator</a>
            </li>
        </ul>
    </nav>

    <div class ="content-container">
        {% block content %}

        {% endblock content%}
    </div>
</body>
</html>
