{% extends 'base.html' %}
{% load sass_tags %}
{% load fontawesome %}
{% block content %}
<div class="page-wrapper">
<div class="left-container">
<ul class="tables">

</ul>
</div>
<div class="right-container">
    <div class="right-wrapper">
        <div class="buttons-sections">
            <button class="operator-button">
                <div class="button-text">
                    <div>σ</div>
                  <span class="tooltiptext">select</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>Π</div>
                    <span class="tooltiptext">project</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>⋈</div>
                    <span class="tooltiptext">join</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>θ-join</div>
                    <span class="tooltiptext">teta-join</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>⟕</div>
                    <span class="tooltiptext">left outer join</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>⟖</div>
                    <span class="tooltiptext">right outer join</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>⟗</div>
                    <span class="tooltiptext">full outer join</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>⨯</div>
                    <span class="tooltiptext">cross product</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>∪</div>
                    <span class="tooltiptext">union</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>∩</div>
                    <span class="tooltiptext">intersection</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>minus</div>
                    <span class="tooltiptext">difference</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>ρ</div>
                    <span class="tooltiptext">rename</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>γ</div>
                    <span class="tooltiptext">aggregation</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>sum</div>
                    <span class="tooltiptext">sum</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>count</div>
                    <span class="tooltiptext">count</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>avg</div>
                    <span class="tooltiptext">avg</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>min</div>
                    <span class="tooltiptext">min</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>max</div>
                    <span class="tooltiptext">max</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>variance</div>
                    <span class="tooltiptext">variance</span>
                </div>
            </button>
            <button class="operator-button">
                <div class="button-text">
                    <div>stddev</div>
                    <span class="tooltiptext">standard deviation</span>
                </div>
            </button>
        </div>

        <form id="query-form" name="query-form">{% csrf_token %}
            <textarea placeholder="Type your query here..." class="calculator-frame" id="calculatorFrame" contenteditable="true"></textarea>

            <div class="buttons-sections">
            <button id="executeButton" class="button-execute"><i class="fa fa-play" aria-hidden="true"></i>
            execute query</button>
            </div>
        </form>

        <div id="resultWrapper">
            <div class="response-message" id="resultsContainer">
            </div>
            <div class="response-message" id="noOfTuples">
            </div>
            <div class="response-message" id="errorContainer">
            </div>
        </div>

    </div>
</div>
</div>

{% load static %}
<script src="{% static './js/ratosql.js' %}"></script>
{% endblock content%}
